/**** 
    CONFIGURAÇÃO GERAL
        ****/
@import url('../fonts/webfontkit-20210919-135212/stylesheet.css');

body {
    background-color:#EDEDED;
}
.unvs-bm-content {
    margin-top:156px;
}

/****
    CONFIGURAÇÃO DE FONTES USADAS NO PROJETO
                                        ****/

.clb {
    font-family: "Calibri", "sans-serif";
}                    

.dbr-blck {
    font-family: 'dobrablack';
}

.dbr-bld {
    font-family: 'dobrabold';
}

/**** 
    HEADER
        ****/

.unvs-abm-header {
    position:relative;
}

/*Configuração inicial do background da header*/
.unvs-abm-background {
    background:url('../images/unvs-abm-background.jpg') no-repeat;
    background-size:cover;
    height:710px;
}


/* Astronauta da Header */
.unvs-abm-header-astrnt {
    background:url('../images/unvs-abm-header-astrnt.png') no-repeat;
    width:562px;
    height:424px;

    position:absolute;
    right:5%;
    top:2%
}

/* Planeta com anél */
.unvs-abm-plnt-rng {
    background:url('../images/unvs-abm-plnt-rng.png') no-repeat;
    width:180px;
    height:210px;

    position:absolute;
    right:30%;
    top:2%
}

/* Planeta menor amarelo */
.unvs-abm-plnt-sml {
    background:url('../images/unvs-abm-plnt-sml.png') no-repeat;
    width:60px;
    height:60px;

    position:absolute;
    bottom:30%;
    right:50%
}

/*Planeta maior */
.unvs-abm-plnt-bg {
    background:url('../images/unvs-abm-plnt-bg.png') no-repeat;
    width:120px;
    height:117px;

    position:absolute;
    bottom:20%;
    right:20%
}

/*Planeta médio */
.unvs-abm-plnt-md {
    background:url('../images/unvs-abm-plnt-md.png') no-repeat;
    width:70px;
    height:70px;

    position:absolute;
    bottom:-5%;
    right:40%
}

/*Label menor escrito Pesquisas*/
.unvs-abm-header--label {
    color:#BEBFA3;
    font-size:.9em;
    text-transform:uppercase;
    font-weight: 700;
}

/*Titulo da header*/
.unvs-abm-header--title {
    color:#fff;
    font-size:5em;
    line-height:1em;
}

/*Limite de largura das informaçõees da header*/
.unvs-abm-header-content {
    max-width:720px;
    margin:1.5em 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*Texto inicial da header*/
.unvs-abm-header--lead {
    color:#fff;
    font-size:1.5em;
    opacity:.4;
    line-height:1.3em;
    max-width:520px;
    margin:.5em 0 0;
}

/*Botão Começar*/
.unvs-abm-btn-primary {
    background:#91C03D;
    border:#91C03D;
    border-radius:500px;
    font-size:1.3em;
    padding:.7em 1em;
    margin:0.5em 0;
    transition: all .2s ease 0s;
}

.unvs-abm-btn-primary:hover {
    background:#8dcc21;
    transform: scale(1.05);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%), 0 6.7px 5.3px rgb(0 0 0 / 3%), 0 12.5px 10px rgb(0 0 0 / 4%), 0 22.3px 17.9px rgb(0 0 0 / 4%), 0 41.8px 33.4px rgb(0 0 0 / 5%), 0 100px 80px rgb(0 0 0 / 7%);
}


/*Botão flutuante de Responda nosso Quiz*/
.unvs-abm-btn--floating {
    background:url('../images/unvs-abm-rocket-icon.png') 2% center no-repeat #F9B000;
    color:#fff;
    border-radius:500px;
    font-size:1.1em;
    letter-spacing:.05em;

    padding:.7em 1.5em .7em 3.5em;
    transition: all .2s ease 0s;

    position:fixed;
    bottom:2%;
    right:1%;

    z-index:20;

}

.unvs-abm-btn--floating:hover {
    color:#fff;
    background:url('../images/unvs-abm-rocket-icon.png') 2% center no-repeat #0094D9;
    transform: scale(1.05);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%), 0 6.7px 5.3px rgb(0 0 0 / 3%), 0 12.5px 10px rgb(0 0 0 / 4%), 0 22.3px 17.9px rgb(0 0 0 / 4%), 0 41.8px 33.4px rgb(0 0 0 / 5%), 0 100px 80px rgb(0 0 0 / 7%);
    
}


/*******
    ÁREA DE PESQUISAS
                            ***/

.unvs-abm-rsrch--title {
    font-size:1.9em;
    margin:1em 0;
}

/*Item dos banners destaques*/
.unvs-abm-ftrd {
    margin-bottom:1em;
}

.unvs-abm-carousel--item {
    border-radius:10px;
    overflow:hidden;
    height:290px;
}

.unvs-abm-carousel--item-background img {
    width:100%;
}

.unvs-abm-carousel--infos {
    position:absolute;
    width:100%;
    overflow:visible;
}

.unvs-abm-carousel--grid {
    position:absolute;
    top:-25px;
    width:100%;
    z-index:9;
}


.unvs-abm-carousel--title {
    color:#fff;
    font-size:2.5em;
}

.unvs-item-carousel--ctgrs li {
    display:inline-block;
}

.unvs-item-carousel--ctgrs-item {
    color:#fff;
    opacity:.5;
    text-transform: uppercase;
    font-size:.9em;
    padding:0 .7em 0 0;
}

.unvs-abm-carousel--pre {
    margin:4em 0;
    max-width:420px;
}

.unvs-abm-carousel--btn-action {
    background:#4D4F53;
    color:#fff;
    border-radius:9px;
    text-transform:uppercase;
    font-weight: 700;
    margin:1em 0;
    transition: all .2s ease 0s;
}

.unvs-abm-carousel--btn-action:hover {
    transform: scale(1.05);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%), 0 6.7px 5.3px rgb(0 0 0 / 3%), 0 12.5px 10px rgb(0 0 0 / 4%), 0 22.3px 17.9px rgb(0 0 0 / 4%), 0 41.8px 33.4px rgb(0 0 0 / 5%), 0 100px 80px rgb(0 0 0 / 7%);
    color:#fff;
    background:#8dcc21
}

.unvs-abm-carousel-overflow {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    background: linear-gradient(rgba(112, 115, 126, 0) 0%, #1d1d1d80 100%);
    position:absolute;
}

.unvs-abm-carousel-indicators {
    bottom: -25px;
}

.unvs-abm-carousel-indicators li,
.unvs-abm-carousel-indicators li.active {
    width:64px;
    height:5px;
    border:none;
    background:#000000;
    opacity:.2;
}

.unvs-abm-carousel-indicators li.active {
    opacity:1;
}


/****
    LISTA DAS PESQUISAS
                *****/

.unvs-abm-lst-item--title {
    font-size:1.3em;
}

.unvs-abm-lst-item--row {
    margin-bottom:1em;
    margin-top:2em!important;
}

.unvs-abm-lst-card {
    max-width:258px;
    cursor:pointer;
}
.unvs-abm-lst-infos {
    background:#fff;
    width:258px;
    position: relative;
    top:-2px;
    padding:.9em;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}  

.unvs-abm-lst-card--label {
    background:#F9AF03;
    color:#fff;
    text-transform: uppercase;
    display:inline-block;
    font-size:.8em;
    padding:.2em .5em;
    border-radius:500px;
    font-weight: 700;
}

.unvs-abm-lst-card--title {
    font-size:1.3em;
    line-height:1.2em;
    margin:.9em 0;
}

.unvs-abm-lst-card--small {
    opacity: .6;
}


/****
    COMO ESSE UNIVERSO CHEGA ATÉ VOCÊ?
                    ****/
.unvs-page-showroom-timeline {
    margin-top: 20px;
}

.unvs-page-showroom-timeline--title {
    padding: 2em 0 1em;
    max-width: 800px;
    margin: 0 auto;
    font-size:1.6em;
    color:#4A4A49;
}
                    

.unvs-page-showroom-timeline--group {
    position: relative;
}  

.unvs-page-showroom-timeline--group::before {
    content: "";
    background: #E2E2E2;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.unvs-page-showroom-timeline--astronaut {
    margin:0 auto;
    position:sticky;

    width: 85px;
    top: 200px;
}

.unvs-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.justify-content-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.unvs-page-showroom-timeline--item {
    background:#FFFFFF;
    border-radius:15px;
    overflow:hidden;
    width:310px;
}

.unvs-page-showroom-timeline--item-header {
    background:#707070;
    padding:1em;
    color:#fff;
    font-size:1.3em;
}
.unvs-align-left {
    float:left;
}

.unvs-align-right {
    float:right;
}

.unvs-page-showroom-timeline--item.unvs-align-right {
    margin-right:80px;
}

.unvs-page-showroom-timeline--item.unvs-align-left {
    margin-left:80px;
}

.unvs-page-showroom-timeline--item-info {
    padding:1em;
}


.unvs-page-showroom-timeline--item-info p {
    margin-bottom:20px;
    line-height:1.2em;
}


.unvs-page-showroom-timeline--item-header.blue {
    background:#008BD2;
}

.unvs-page-showroom-timeline--item-header.yellow {
    background:#F9B000
}

.unvs-page-showroom-timeline--item-header.dark-blue {
    background:#153D8A
}
   
.unvs-page-showroom-timeline--item-header.orange {
    background:#DD7500
}

.unvs-page-showroom-timeline--item-header.green {
    background:#86BC25
}

.unvs-page-showroom-timeline--title span {
    color:#F9B000;
    text-decoration: underline;
}

.btn-unvs-page-showroom--quiz {
    width:100%;
    padding:.8em;
    font-size:1em;
    color:#86BC25 ;
    border:2px solid #86BC25  ;
    border-radius:8px;
    background:#fff;
    text-transform: uppercase;
}

.unvs-page-showroom-timeline--small {
    text-align: center;
    opacity:.6;
    padding:.5em;
}
                    


/****
    CONFIGURAÇÕES DA MODAL
                    ****/

                    
.unvs-abm-modal-content {
    border:none;
    border-radius:11px;
    padding:0;
}

.unvs-abm-modal-info {
    padding:0 2em 0 0;
}

.unvs-abm-modal-close {
    background: url(../images/unvs-icon-modal-close.png) no-repeat;
    width: 48px;
    height: 48px;
    text-indent: -9999999px;
    position: relative;
    right: -52px;
    display: block;
    opacity: 1;
}

.unvs-abm-modal-content--capa {
    -webkit-border-top-left-radius: 11px;
-webkit-border-bottom-left-radius: 11px;
-moz-border-radius-topleft: 11px;
-moz-border-radius-bottomleft: 11px;
border-top-left-radius: 11px;
border-bottom-left-radius: 11px;
overflow:hidden;
width: 100%;
height: 460px;
}

.unvs-abm-modal-content--capa img {
    width:100%;
}

.unvs-abm-modal-content--title {
    font-size:2.1em;
    padding-top:0;
}

.modal-content--categories {
    text-transform: uppercase;
    color:#000000;
    opacity:.4;
    font-weight: 600;
    font-size:.9em;
    margin-bottom:1.7em;
    padding-left:0;
}

.modal-content--categories-item {
    display:inline-block;
    padding-right:1em;
}

.modal-content--tabs .nav-tabs>li>a {
    color:#000;
}

.unvs-abm-modal-tab-pane {
    padding:.5em .5em;
}



.modal-content--button {
    background:#86BC25;
    color:#fff;
    text-transform: uppercase;
    font-size:1em;
    font-weight: 700;
    transition: all .2s ease 0s;
    letter-spacing:.05em
}

.modal-content--button:hover {
    color:#fff;
    transform: scale(1.05);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%), 0 6.7px 5.3px rgb(0 0 0 / 3%), 0 12.5px 10px rgb(0 0 0 / 4%), 0 22.3px 17.9px rgb(0 0 0 / 4%), 0 41.8px 33.4px rgb(0 0 0 / 5%), 0 100px 80px rgb(0 0 0 / 7%);
    
}

.modal-content--button-unlocked {
    background: url('../images/unvs-abm-icon-unlocked.png') no-repeat 5%center #86BC25;
    padding-left: 40px;
}

.unvs-abm-modal-tab-pane p {
    padding:.4em 1em .4em 0;
    font-size:1.1em;
    line-height:1.2em;
}

.unvs-abm-modal-tab--topics-item {
    background:url('../images/modals/unvs-abm-icon-check.png') no-repeat center left;
    font-size: 1.2em;
    padding-left: 2.3em;
    padding-top: .5em;
    padding-bottom: .4em;
}

.unvs-abm-modal-tab-content {
    height: 180px;
    width:100%;
    overflow: auto;
    float: left;
}

ul.unvs-abm-modal-tab--topics {
    padding: 0;
}

.form-downloader {
    margin-top:10px;
}
/*****
    QUIZ
        ***/

.carousel-quiz {
    position:relative;
    height:590px;
}


.unvs-abm-modal-quiz {
    background:url('../images/unvs-abm-quiz-background.png') no-repeat center #fff;
    background-size:cover;
    height:600px;
}    

.unvs-abm-modal-quiz--tittle {
    font-size:3.1em;
    line-height:1.1em;
}

.unvs-abm-modal-quiz-s0 {
    max-width:600px;
    margin:7em auto;
}

.unvs-abm-modal-quiz--seq {
    background:#86BC25;
    color:#fff;
    border-radius:200px;
    display:inline-block;
    padding:.2em 1em;
    text-align:center;
    margin:0 auto
}

.unvs-abm-modal-quiz-s1,
.unvs-abm-modal-quiz-s2 {
    padding:0em 2em;
}

.quiz-success {
    padding:4em 5em;
    max-width:700px;
    margin:0 auto;
}

.unvs-abm-modal-quiz--question {
    font-size:1.5em;
    color:#707070;
    margin-bottom:0;
}

.unvs-abm-modal-quiz--text {
    font-size:1.5em;
}

.unvs-abm-modal-quiz--small {
    font-size:1em;
    color:#C9C9C9;
    margin:.5em 0;
}

.unvs-abm-modal-quiz--radio {
    background:#FCF8FC;
    border:1px solid #BCBCBC;
    padding:1.3em 1em;
    border-radius:5px;
    font-size:1em;
    margin: 0.1em;
    min-height: 65px;
}

.unvs-spacing {
    height:30px;
}

.unvs-abm-modal-quiz--pular {
    background:transparent;
    font-size:1.5em;
    color:#C1C1C1;
    padding:1.5em 0;
}

.unvs-abm-modal-quiz-actions {
    max-width:80%;
    margin:0 auto;
}

.hidden {
    display:none;
}

.is-active {
    display:block!important;
}

.unvs-quiz-success--title {
    font-size:2.4em;
    color:#86BC25;
}

.unvs-quiz-success--text {
    color:#707070;
    margin:1em 0;
}

.unvs-quiz-form-control {
    font-size:1.2em;
    padding:1.2em;
}

.unvs-quiz-form-control-others {
    font-size:1em;
    padding:.9em;
}

.unvs-quiz-success--small {
    opacity:.6;
    max-width:600px;
    margin:0 auto;
}

.form-control:focus {
    border-color: #86bc25;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #86bc25;
}

.unvs-abm-modal-quiz--radio label {
    width:100%;
}
.unvs-abm-modal-quiz--radio  input[type=text] {
    width:100%;
    position:relative;
    left:-10px;
    padding:.2em;
    border:transparent;
    background:transparent;
}

/**** 
    CONFIGURAÇÃO DA ANIMAÇÃO DA HEADER
        ****/
        
        .kenburns-top {
            -webkit-animation: kenburns-top 20s ease-in-out both;
                    animation: kenburns-top 20s ease-in-out both;
        }
        
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
/**** 
    CONFIGURAÇÃO DE RESPONSIVO
        ****/

@media (max-width:1400px) {

        /*Limite de largura das informaçõees da header*/
        .unvs-abm-header-content {
            max-width:720px;
            margin:1.5em 0;

            position: absolute;
            top: 35%;
            transform: translateY(-50%);
        }


}


@media (max-width:990px) {
    /*Limite de largura das informaçõees da header no mobile*/
    .unvs-abm-header-content {
        max-width:720px;
        margin:1.5em 0;

        position: absolute;
        top: 40%;
        transform: translateY(-50%);
    }

    .unvs-abm-header--title {
        font-size:4em;
    }
    .unvs-abm-header-elements {
        display:none;
    }

    .unvs-abm-carousel--grid {
        text-align:center;
    }
    .unvs-abm-carousel--item-background img,
    .unvs-abm-carousel-overflow,
    .unvs-abm-carousel-rtng,
    .unvs-abm-carousel--title {
        display:none;
    }

    .unvs-item-carousel--ctgrs li {
        color:#444;
    }

    .unvs-abm-carousel--pre {
        margin:-1em 0;
    }

    .unvs-abm-carousel--item {
        height:390px;
    }

    .unvs-abm-lst-card {
        margin: 1em auto;
    }

    .unvs-abm-modal-content--capa {
        display:none;
    }

    .unvs-abm-modal-info {
        padding:0;
    }

    .unvs-abm-modal-content--title {
        padding:.6em;
        margin-bottom:0;
    }

    .modal-content--categories {
        padding: 0 0 0 1.3em;
        margin-bottom:1em;
        font-size: .9em;
        padding-left:23px;
    }

    .unvs-abm-modal-tab-content {
        padding:0 1em;
    }

    .modal-content--button {
        margin:1.5em;
    }

    .unvs-abm-modal-tab-content {
        height:290px;
    }

    .unvs-abm-lst-item--row {
        text-align:center;
    }

    .unvs-abm-modal-close {
        position: absolute;
        bottom: 0;
        left: 48%;
        right: 50%;
        bottom: -50px;
    }

    .unvs-page-showroom-timeline--item {
        width:100%;
        margin-bottom:2em;
        margin-top:2em;
    }

    .unvs-page-showroom-timeline--item.unvs-align-left {
        margin-left:inherit;
    }

    .unvs-page-showroom-timeline--item.unvs-align-right {
        margin-right: inherit;
    }

    .unvs-abm-modal-quiz-s1, .unvs-abm-modal-quiz-s2 {
        padding:.5em .8em;
    }

    .unvs-abm-modal-quiz {
        height:750px;
    }

    .unvs-abm-modal-quiz-actions {
        max-width:90%;
    }
    
    .quiz-success {
        padding:1.5em 1em;
    }

    .unvs-abm-modal-relacionados--capa img {
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
    .justify-content-md-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
}

@media (max-width:1190px) {
    .unvs-abm-carousel--item-background img {
        width: 120%;
    }

    .unvs-abm-carousel--pre {
        margin: 4em 0 0 3em;
        max-width: 420px;
    }

    .unvs-abm-lst-card-cover img {
        width:100%;
    }

    .unvs-abm-lst-card,
    .unvs-abm-lst-infos {
        width:100%;
    }
}


/***
    Bugs overlay Bootstrap
        ***/

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
color:#fff;
}
